<html>
    <head>
        <title>Tela de Login</title>
        <link rel = "stylesheet" href="login.component.css">
    </head>

    <body>
        <form class = "form" action ="">
            <div class ="card">
                <div class = "card-top">
                    <img class = "imgLogin" src="assets\user.png">
                    <h2 class = "titulo">Painel de Controle</h2>
                    <p>Gerenciar seu Negócio</p>
                </div>
                <div class="card-group">
                    <label>Email</label>
                    <input type="email" placeholder = "Digite seu Email"name = "email"required>
                </div>
                <div class="card-group">
                    <label>Senha</label>
                    <input type="password" placeholder = "Digite sua senha"name = "senha"required>
                </div>
                <div class="card-group">
                    <label><input type="checkbox">Lembrar-me</label>
                </div>
                <div class="card-group btn">
                    <button type = "submit">Acessar</button>
                </div>
            </div>
        </form>
    </body>
</html>