<html>
    <head>
        <title>Tela de Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel = "stylesheet" href="principal.component.css">
    </head>

    <body>
        <div class="striped centered">
            <table>
                 <thead>
                     <tr>
                         <th>Selecionar</th>
                         <th>Código</th>
                         <th>Descrição</th>
                         <th>Categoria</th>
                    </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <td><input type = ""></td>
                         <td>001</td>
                         <td>Notebook i7 8GB Branco</td>
                         <td>Informática</td>
                    </tr>
                     <tr>
                         <td>002</td>
                         <td>Caneta Esferográfica Azul</td>
                         <td>Papelaria</td>
                    </tr>
                 </tbody>
             </table>
             <button class = "button" type = "submit">Adicionar à carteira</button>
         </div>
    </body>
</html>